<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"mercado libre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" type="text/css" href="/images/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body class="body-home">
    <header class="header">
        <div class="-mercadolcontenedoribre">
      <img  class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
      
      <div class="contenedor-productos">
      <input type="text" placeholder="Buscar productos, marcas">
      <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
     </div>
     
     <div class="contenedor-mensaje">      
      <h2 class="mensaje-cuotas">      
      <i id="mano" class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
      </h2>      
      </div>     
    </div>
      <nav class="nav-menu">
        <ul>            
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li class="ayuda"><a href="">Ayuda</a></li>            
        </ul>
      </nav>

      <nav>
       
        <ul class="cuenta">
          <div>
          <li><a href="">Creá tu cuenta <i id="perfil" class="fa-regular fa-address-card"></i></a></li>
          </div>

          <div>
          <li><a href="">Ingresá <i id="ingresar" class="fa-solid fa-right-to-bracket"></i></a></li>          
          </div>

          <div>
          <li><a href="">Mis compras <i id="mis-compras" class="fa-solid fa-basket-shopping"></i></a></li>          
          </div>

        </ul>
      </nav>
    <div class="menu-burga">
      <i id="burguer-menu" class="fa-solid fa-bars"></i>
    </div>     
  
    </header>
    <figure>
        <img  class="banner" src="/images/images/img-home-banner.jpg" alt="banner">
      </figure>
<main class="main-home">  
<body>
    
    <p class="pasd"><b>Basado en tu última visita</b></p>
        <section class="clash">
            <article class="clash2">
                <img src="/images/images/img-samsung-galaxy-s10.jpg" alt="s10">
                <div class="info-product">
                    
                    <h5 class="precio">$6.770</h5>
                    <h5 class="descuentos">40% OFF</h5>
                    <h5 class="titular"><b>Cafetera Moulinex</b></h5>
                </div>
            </article>
        
        
        <article>
            <img src="/images/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook">
            <div class="info-product">
                <div class="circle">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <h5 class="precio">$230.000</h5>
                <h5 class="descuentos">20% OFF</h5>
                <h5 class="titular"><b>MacBook Pro 2019</b></h5>
            </div>
        </article>
    
            
        <article>
        <img src="/images/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
        <div class="info-product">
            <div class="circle">
                <i class="fa-solid fa-truck"></i>
            </div>
            <h5 class="precio">$70.500</h5>
            <h5 class="descuentos">10% OFF</h5>
            <h5 class="titular"><b>Samsung Galaxy S10</b></h5>
        </div>
        </article>
    
        <article>
            <img src="/images/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
            <div class="info-product">
                <div class="circle">
                    <i class="fa-solid fa-truck"></i>
                </div>
            <h5 class="precio">$23.200</h5>
            <h5 class="descuentos">5% OFF</h5>
            <h5 class="titular"><b>SmartTv Samsung 43</b></h5>
        </div>
        </article>
        <h3 class="off"> Ofertas</h3>
        <article>
            
            <img src="/images/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">
            <div class="info-product">
                <div class="circle">
                    <i class="fa-solid fa-truck"></i>
                </div>
            <h5 class="precio">$6.770</h5>
            <h5 class="descuentos">40% OFF</h5>
            <h5 class="titular"><b>Cafetera Moulinex</b></h5>
        </div>
        </article>
        
        <article>
                    <img src="/images/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook">
                    <div class="info-product">
                        <div class="circle">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    <h5 class="precio">$230.000</h5>
                <h5 class="descuentos">20% OFF</h5>
                <h5 class="titular"><b>MacBook Pro 2019</b></h5>
            </div>    
            </article>
                
                <article>
                    <img src="/images/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="info-product">
                        <div class="circle">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    <h5 class="precio">$70.500</h5>
                    <h5 class="descuentos">10% OFF</h5>
                    <h5 class="titular"><b>Samsung Galaxy S10</b></h5>
                </div>   
                </article>
                
                <article>
                    <img src="/images/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="info-product">
                        <div class="circle">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    <h5 class="precio">$23.200</h5>
                <h5 class="descuentos">5% OFF</h5>
                <h5 class="titular"><b>SmartTv Samsung 43</b></h5>
            </div>
                </article>    
            </section> 
<footer class="footer">
    <section>
      <i id="tarjeta" class="fa-solid fa-credit-card"></i>
      <h4><b class="footer-descripcion">Pagá con tarjeta o en efectivo</b></h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>

    <section>
        <div class="icon">
      <i id="icon-envio" class="fa-solid fa-gift"></i>
      <h4><b class="footer-descripcion">Envío gratis desde $ 2.500</b></h4>
      <p>
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>

    <section>
      <i id="icon-seguridad" class="fa-solid fa-user-shield"></i>
      <h4><b class="footer-descripcion">Seguridad, de principio a fin</b></h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
        puedas hacer, porque estás siempre protegido.
      </p>
    </section>
    <section>
        <h4 class="footer-descripcion" id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
      </section>
    </div>
      </footer>
    </body>
</html>
<script src="https://kit.fontawesome.com/12d7f4f946.js" crossorigin="anonymous"></script>