.contenedor-mercadolibre{
    display: flex;
    gap: 10px;
    align-content: center;
}
.ultima-visita b{
        font-size: var(--titulares);
        color: var(--gris-oscuro);
        padding-top: 62px;
        display: flex;
        justify-content: center;
    }
    

#ofertas {
    margin-top: 700px;
}

.main-home {width: 90%;display: flex;flex-direction: column;background-color: var(--gris-claro);margin: 0 auto;}

.main p {
    font-size: 16px
}

.info-product {
    border: 1px solid #ebebeb;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px
}
.articulo {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.precio {
    width: 30%;
    text-align: left;
   
}

.descuento {
    width: 70%;
    text-align: center;
   
}
 .circle {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 */
.fa-truck {
    color: var(--verde);
    border: 1px solid;
    width: 3%;
    border-radius: 50%;
}

.descuentos {
    font-size: var(--descuentos);
    color: var(--verde);
    text-align: center;
    
}
.precio {
    font-size: var(--precios);
    
}
.titular b{
    font-size: var(--descripciones);
    color: var(--gris-oscuro);
    padding-top: 62px;
    display: flex;
    margin: 0%;
}
.pasd{
    margin: 1%;
    color: var(--gris-oscuro);
    position: relative;
    top:11px;
    font-size: var(--titulares); 
}
.off{
    margin: 0%;
}
#mano {display: inline;}

 .clash{
    position:relative;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    
} 


article {display: flex;background-color: var(--blanco);flex-wrap: wrap;height: 100%;margin: 13px; 
    width: 23%; 
    box-sizing: border-box;font-size: var(--titulares);}

    .clash2{
        display: flex;
        box-sizing: border-box;
        height: 25%
    }